/* main */	
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,button,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/****/

*{margin:0px; padding:0px;}
a{text-decoration:none; color:#404242; outline:none;}
.login_foot{width:100%;height: 75px;  padding-top: 20px; font-size:13px;line-height:20px;color:#66606c; margin:auto; background-color:#f2f2f2; text-align:center;}
.box1{height: 43px;
	float:left;
	color:#333;
	font-size: 14px;
}
input{height: 26px; color:#666; text-align:left;font-size:14px;line-height:26px; padding-left: 5px; border:1px solid #cdcdcd;}


body {
	font-family:"Arial";
	/**background-color: #0380ba;/**/
}
.login{width:100%;height: 729px;margin:auto;}
.login1{width:50%;height: 729px; float:left; background-color:#0380ba}
.login1_1{width:673px;height: auto; float:right;}
.login2{width:50%;height: 729px; float:left; background-color:#fafafa}
.login2_1{width:500px;height: 729px;float:left;background-image: url(/img/login02.png);background-repeat: no-repeat;background-position: left 426px; background-color:#fafafa}
.login2_2{width:430px;height: 65px;float:right; text-align:center; padding-top:20px }
.login3{width:370px;height: 460px;float:right;background-image: url(/img/login03.png);	background-repeat: repeat; padding-top: 20px; padding-left: 30px; margin-right: 10px;}

.login3_2{width:335px;height: 30px; color:#3b3b3b; text-align:left;font-size:14px;line-height:34px; float:left; padding-left: 5px;}
.login3_2 a {color:#f00;text-decoration:none; font-size:12px; margin-left: 160px;}
.login3_2 a:hover {color:#f00; text-decoration:underline;}

.login3_3{width:335px;height: 40px; color:#3b3b3b; text-align:left;font-size:15px;line-height:34px; float:left; padding-left: 5px;}
.login3_3 input{width:325px;height: 30px; color:#3b3b3b; text-align:left;font-size:14px;line-height:30px; text-align:left; padding-left: 5px; border:1px solid #cdcdcd;background-image: url(/img/login01.jpg);background-repeat: no-repeat;background-position: 300px center;}
.login3_4{width:335px;height: 35px; color:#3b3b3b; text-align:left;font-size:15px;line-height:34px; float:left; padding-left: 5px;}
.login3_4 input{width:325px;height: 30px; color:#3b3b3b;font-size:14px;line-height:30px; text-align:left; padding-left: 5px; border:1px solid #cdcdcd;background-image: url(/img/login02.jpg);background-repeat: no-repeat;background-position: 305px center;}

.login3_5{width:190px;height: 40px; color:#3b3b3b; text-align:left;font-size:15px;line-height:34px; float:left; padding-left: 5px;}
.login3_5 input{width:180px;height: 30px; color:#3b3b3b; font-size:14px;line-height:30px; text-align:left; padding-left: 5px; border:1px solid #cdcdcd;}
.login3_6{width:145px;height: 40px; color:#3b3b3b; float:left;}
.login3_7{width:335px;height: 40px; color:#3b3b3b; text-align:left;font-size:15px;line-height:34px; float:left; padding-left: 5px;}

.login3_8{width:335px;height: 40px; color:#3b3b3b; text-align:left;font-size:15px;line-height:34px; float:left; padding-left: 6px; padding-top: 20px;}
.login3_8 a {color:#fff;text-decoration:none;padding:6px 24px 6px 24px;font-size:16px;line-height: 22px;text-decoration:none; background-color:#0380ba; margin-right: 18px;}
.login3_8 a:hover {color:#fff;text-decoration:none;padding:6px 24px 6px 24px;font-size:16px;line-height: 22px;text-decoration:none !important;-moz-border-radius:4px ;   /* Safari v3.0+ and by Chrome v0.2+ */  -webkit-border-radius:4px ;  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */  border-radius:4px ; background-color:#ee432e;}

/***/
.login4{width:430px;height: auto;float:right;background-image: url(/img/login03.png);	background-repeat: repeat; }
/***********角色管理样式 end************/






/****************************************************************************/
#phizzForm p{font-size:14px;line-height:22px; margin-bottom: 10px;background-color: #eaf5ff; color:#0380ba; font-size: 16px;line-height:36px; padding-left: 10px;}
button{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;min-height:30px;cursor:pointer;color:#fff;font-size:1.4em;padding:7px 10px 6px;text-align:center;-webkit-transition:background-color .5s;-moz-transition:background-color .5s;-o-transition:background-color .5s;-ms-transition:background-color .5s;transition:background-color .5s}

button:hover,button:focus{}@media only screen and (max-width:1024px){html{-webkit-text-size-adjust:none}}h1{font-size:1.8em;}

#phizzForm h2{
	font-size:16px;
	margin-top: 50px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0; border-bottom: 5px solid #5a5a5a; padding-bottom: 8px;
}
.journeyProgress{float:left;width:100%;padding:15px 0;margin:0 auto 30px 0;display:none;}
.journeyProgress#yourDetails{display:block}
.journeyProgress ul{margin:0 auto;text-align:center}

.journeyProgress ul li{display:inline-block;font-size:16px;opacity:.15;-ms-filter:"alpha(Opacity=15)";	margin-top: 0; margin-right: 20px; margin-left: 20px;margin-bottom: 0;}
.journeyProgress ul li.currentStep{opacity:1;-ms-filter:"alpha(Opacity=100)"}@media only screen and (min-width:200px) and (max-width :368px){.journeyProgress{overflow:hidden}.journeyProgress ul li{margin:0 0 0 15px;float:left;clear:left}}[class^=icon-],[class*=" icon-"]{font-size:1.4em;margin:0 10px 0 0 ;}

	.form{clear:both;width:430px;position:relative;overflow:hidden; border:0px; padding-bottom: 15px;}
	.form form{position:absolute;top:0;left:0;padding:25px;width:2000px; }
.formPanel{float:left;position:relative;height:100%;width:385px;margin-top: 0;margin-right: 25px;margin-bottom: 0;margin-left: 0;}
.formPanel span{ color:#F00;}
.form fieldset{padding:0}
.formRow{float:left;clear:both;position:relative; margin-bottom: 10px;}

.inputAddOn{float:left;text-align:right;padding-top: 10px;padding-right: 0;	padding-bottom: 10px; border:0px;}
.reg_left{height: 30px; float:left;color:#666; font-size: 13px;line-height:34px; padding-right: 10px; text-align:right; font-weight:bold;}
.reg_left span{ color:#F00;}
.reg_bottom{height: 45px; float:left; padding-top: 5px; width:100px; text-align:left;}

.inputAddOn.error{}.inputAddOn.textarea{float:left;width:25px;text-align:center;}.error{color:#e74c3c}
.form input,.form textarea,.form {
	font-size:14px
}.form input,.form textarea{background:#fff;border:0;padding-left:5px; height: 28px;}.form textarea{min-height:75px}
.form select{background:#fff;border:0;font-size:14px;}
.errors{font-size:14px;color:#e74c3c;font-weight:700;margin:15px 0;display:none}::-webkit-input-placeholder,:-moz-placeholder,:-ms-input-placeholder{color:#ccc}

label,legend{display:none}input[type=checkbox],input[type=radio]{border:medium none!important;clear:left;float:left;margin:0 10px;vertical-align:middle;width:14px!important;background:0;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}.checkboxLabel,.radioLabel{display:block;float:left;font-size:14px;margin:0 0 10px}.checkboxLabel:last-of-type,.radioLabel:last-of-type{margin:0}
.form .buttonPrev{background:#e67e22;position:absolute;bottom:0;left:0;font-size:14px; width:auto; padding-left: 20px; padding-right:20px; border:0px;}.form .buttonPrev:hover{background:#ef974a;font-size:14px;}

.form .buttonNext{background:#0380ba;position:absolute;bottom:0;right:0;font-size:14px;width:auto; padding-left: 20px; padding-right:20px; padding-top:0px; padding-bottom:0px;}.form .buttonNext:hover{background:#ee432e;font-size:14px;}

.buttonSubmit{background:#0380ba;position:absolute;bottom:0;right:0;font-size:14px;width:auto; padding-left: 20px; padding-right:20px; border:0px;}.buttonSubmit:hover{background:#ee432e;font-size:14px;}@media only screen and (max-width:300px){
	.form{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;width:100%;margin:25px 0 0}.form form{padding:25px 10px}.form fieldset{padding:0 0 35px}.formPanel{ }.form input,.form textarea{}.form select{}}

.tooltip,.tooltip_error{display:none;text-align:left;color:#fff;position:absolute;left:0;width:auto;padding:10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; }.tooltip p,.tooltip_error p{font-size:12px;line-height:12px;margin:0}.tooltip a{color:#fff}#productCompare article .product .productInner div div.tooltip{padding:5px!important}.tooltip i{bottom:-9px;left:14px;position:absolute}
/*********************************************************/