<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" default-autowire="byName">
	<context:annotation-config />
	<context:component-scan base-package="cn.ac.big" />
	<!-- database -->
	<bean id="gsaDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>

		<property name="url" value="jdbc:mysql://192.168.132.11:33067/big_gsav2_20190729_1?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;serverTimezone=GMT%2B8" />
		<property name="username" value="biggsa"/>
		<property name="password" value="biggsa123"/>

		<property name="maxActive" value="20"/>
		<property name="initialSize" value="1"/>
		<property name="maxWait" value="60000"/>
		<property name="maxIdle" value="20"/>
		<property name="minIdle" value="3"/>
		<!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收 -->
		<property name="removeAbandoned" value="true"/>
		<!--超过时间限制，回收没有用(废弃)的连接  -->
		<property name="removeAbandonedTimeout" value="180"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testOnReturn" value="false"/>
		<property name="validationQuery" value="select 1"/>
		<property name="validationQueryTimeout" value="1"/>
		<!-- 设置的Evict线程的时间，单位ms -->
		<property name="timeBetweenEvictionRunsMillis" value="30000"/>
		<!--代表每次检查链接的数量，建议设置和maxActive一样大，这样每次可以有效检查所有的链接  -->
		<property name="numTestsPerEvictionRun" value="20"/>
	</bean>
	<bean id="ncbiDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url" value="jdbc:mysql://192.168.130.12:3306/insdc_20221023?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true&amp;failOverReadOnly=false"/>
		<property name="username" value="biggsa"/>
		<property name="password" value="biggsa123"/>

		<property name="maxActive"><value>20</value></property>
		<property name="initialSize"><value>1</value></property>
		<property name="maxWait"><value>60000</value></property>
		<property name="maxIdle"><value>20</value></property>
		<property name="minIdle"><value>3</value></property>

		<property name="removeAbandoned"><value>true</value></property>

		<property name="removeAbandonedTimeout"><value>180</value></property>
		<property name="testWhileIdle"><value>true</value></property>
		<property name="testOnBorrow"><value>false</value></property>
		<property name="testOnReturn"><value>false</value></property>
		<property name="validationQuery"><value>select 1</value></property>
		<property name="validationQueryTimeout"><value>1</value></property>
		<property name="timeBetweenEvictionRunsMillis"><value>30000</value></property>
		<property name="numTestsPerEvictionRun"><value>20</value></property>
	</bean>
	<bean id="dataSource" class="cn.ac.big.gsa.common.datasource.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="gsaDS" value-ref="gsaDS" />
				<entry key="ncbiDS" value-ref="ncbiDS" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="gsaDS" />
	</bean>
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean class="cn.ac.big.gsa.util.SpringContextUtil"/>

	<!-- daos -->
	<bean id="countryMapper" class="cn.ac.big.gsa.common.dao.impl.CountryMapperImpl"/>
	<bean id="taxonMapper" class="cn.ac.big.gsa.common.dao.impl.TaxonMapperImpl"/>
	<bean id="accessionMapper" class="cn.ac.big.gsa.common.dao.impl.AccessionMapperImpl"/>

	<!-- Services -->
	<bean id="accessionService" class="cn.ac.big.gsa.common.service.impl.AccessionServiceImpl">
		<property name="accessionMapper" ref="accessionMapper" />
	</bean>
	<bean id="countryService" class="cn.ac.big.gsa.common.service.impl.CountryServiceImpl">
		<property name="countryMapper" ref="countryMapper"/>
	</bean>
	<bean id="taxonService" class="cn.ac.big.gsa.common.service.impl.TaxonServiceImpl">
		<property name="taxonMapper" ref="taxonMapper"/>
	</bean>

	<!-- Actions -->
	<bean id="taxonAction" class="cn.ac.big.gsa.common.action.TaxonAction" scope="prototype">
		<property name="taxonService" ref="taxonService" />
	</bean>
</beans>
